header {
    padding: 5vh 20vw;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.header_img_container {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.header_img {
    max-width: min-content;
    max-height: 100%;
}

.header_ul {
    margin-left: auto;
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_li:first-child {
    margin-right: 1.8rem;
}

.header_a {
    line-height: 1;
    font-size: 1.5rem;
    font-family: "DM Serif Text", serif;
}

@media (max-width: 1366px) {
    header {
        padding: 5vh 10vw;
    }
}

@media (max-width: 768px) {
    header {
        padding: 2vh 5vw;
    }
}